template(name='NavTop')
  nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse.navbar-shrink.shrunk(role='navigation')
    .container
      ul.nav.navbar-nav.navbar-right
        li
          a(href="{{ pathFor '1' }}") 1
        li
          a(href="{{ pathFor '2' }}") 2
        li
          a(href="{{ pathFor '3' }}") 3
        li
          a(href="{{ pathFor '4' }}") 4